body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-box 
{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    width: 220px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    font-size: 14px;
    word-break: break-all;
}

.main-box h1
{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-box h3, .main-box p 
{
    margin: 5px 0;
}
.main-box p 
{
    font-size: 11px;
    line-height: 1.2;
}
input 
{
    padding: 8px;
    width: 85%;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}
button 
{
    padding: 8px 15px;
    width: 100%;
    background-color: #282829;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
}
button:hover 
{
    background-color: #000000;
}
hr 
{
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #ccc;
}
